{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--Styles Block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--Content Block-->
{% block content %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Use source name to search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" value="Submit" type="submit">Search</button>
    </form>
    <ul>
        {{macro.displaySourceList(sources)}}
    </ul>
{% endblock %}